---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
  description: 'This page is still in progress',
  title: 'Under Construction'
}
---

<PageLayout {meta}>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <h1 class='block text-7xl font-bold sm:text-9l'>🚧 Under Construction 🚧</h1>
    <p class='mt-3 text-muted-foreground'>Come back another time :)</p>
    <p class='text-lg'>Sorry, for the inconviniences caused.</p>
    <Button title='Back to home' href='/' variant='ahead' class='mt-5' />
  </div>
</PageLayout>
